<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">MyShoppy</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item" *ngFor="let item of navItems">
					<a class="nav-link" routerLink="">{{ item }}</a>
				</li>

				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Categories
					</a>
					<ul class="dropdown-menu">
						<li *ngFor="let title of titles">
							<a
								class="dropdown-item"
								[routerLink]="['/catalogue', title]"
								[routerLinkActive]="'active'"
								>{{ title }}</a
							>
						</li>
					</ul>
				</li>
			</ul>
			<button class="btn btn-outline-danger rounded-5" routerLink="/cart">
				<i
					class="bi bi-cart"
					style="font-size: 15px; cursor: pointer"
				>
				</i>
				Cart
			</button>
		</div>
	</div>
</nav>
